.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.sub-container {
  margin: auto;
  max-width: 1200px;
}

.responsive-image {
  max-width: 100%;
  margin: 50px;
}

.cell img {
  display: block;
}

.main-image {
  margin-top: 100px;
  height: 15em;
  width: 15em;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}

.footer-image {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 3em;

}
