/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.headline-atom {
  font-family: 'Fira Mono', monospace;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
  text-rendering: optimizeLegibility;
}
/*
Color
*/
.headline-atom--charcoal {
  color: #222222;
}
.headline-atom--cloud {
  color: #f7f7f7;
}
.headline-atom--gray {
  color: #e8e8e8;
}
.headline-atom--coral {
  color: #fca09a;
}
.headline-atom--sunburn {
  color: #fcccd3;
}
.headline-atom--creamsicle {
  color: #ffcc9d;
}
.headline-atom--mint {
  color: #98ddad;
}
.headline-atom--sky {
  color: #81d7ec;
}
.headline-atom--elizabeth {
  color: #a0aaed;
}
.headline-atom--snow {
  color: #ffffff;
}
.headline-atom--prism {
  color: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);
}
/*
Style
*/
.headline-atom--headline-1 {
  font-size: 40px;
}
.headline-atom--headline-2 {
  font-size: 32px;
}
.headline-atom--headline-3 {
  font-size: 24px;
}
.headline-atom--headline-4 {
  font-size: 20px;
}
/*
Top Margin
*/
/* Base */
.headline-atom--margin-top-micro {
  margin-top: 10px;
}
.headline-atom--margin-top-small {
  margin-top: 20px;
}
.headline-atom--margin-top-medium {
  margin-top: 30px;
}
.headline-atom--margin-top-large {
  margin-top: 50px;
}
.headline-atom--margin-top-jumbo {
  margin-top: 100px;
}
.headline-atom--margin-top-huge {
  margin-top: 150px;
}
/* Medium */
@media (min-width: 768px) {
  .headline-atom--margin-top-micro--medium {
    margin-top: 10px;
  }
  .headline-atom--margin-top-small--medium {
    margin-top: 20px;
  }
  .headline-atom--margin-top-medium--medium {
    margin-top: 30px;
  }
  .headline-atom--margin-top-large--medium {
    margin-top: 50px;
  }
  .headline-atom--margin-top-jumbo--medium {
    margin-top: 100px;
  }
  .headline-atom--margin-top-huge--medium {
    margin-top: 150px;
  }
}
/* Large */
@media (min-width: 1024px) {
  .headline-atom--margin-top-micro--large {
    margin-top: 10px;
  }
  .headline-atom--margin-top-small--large {
    margin-top: 20px;
  }
  .headline-atom--margin-top-medium--large {
    margin-top: 30px;
  }
  .headline-atom--margin-top-large--large {
    margin-top: 50px;
  }
  .headline-atom--margin-top-jumbo--large {
    margin-top: 100px;
  }
  .headline-atom--margin-top-huge--large {
    margin-top: 150px;
  }
}
/*
Bottom Margin
*/
/* Base */
.headline-atom--margin-bottom-micro {
  margin-bottom: 10px;
}
.headline-atom--margin-bottom-small {
  margin-bottom: 20px;
}
.headline-atom--margin-bottom-medium {
  margin-bottom: 30px;
}
.headline-atom--margin-bottom-large {
  margin-bottom: 50px;
}
.headline-atom--margin-bottom-jumbo {
  margin-bottom: 100px;
}
.headline-atom--margin-bottom-huge {
  margin-bottom: 150px;
}
/* Medium */
@media (min-width: 768px) {
  .headline-atom--margin-bottom-micro--medium {
    margin-bottom: 10px;
  }
  .headline-atom--margin-bottom-small--medium {
    margin-bottom: 20px;
  }
  .headline-atom--margin-bottom-medium--medium {
    margin-bottom: 30px;
  }
  .headline-atom--margin-bottom-large--medium {
    margin-bottom: 50px;
  }
  .headline-atom--margin-bottom-jumbo--medium {
    margin-bottom: 100px;
  }
  .headline-atom--margin-bottom-huge--medium {
    margin-bottom: 150px;
  }
}
/* Large */
@media (min-width: 1024px) {
  .headline-atom--margin-bottom-micro--large {
    margin-bottom: 10px;
  }
  .headline-atom--margin-bottom-small--large {
    margin-bottom: 20px;
  }
  .headline-atom--margin-bottom-medium--large {
    margin-bottom: 30px;
  }
  .headline-atom--margin-bottom-large--large {
    margin-bottom: 50px;
  }
  .headline-atom--margin-bottom-jumbo--large {
    margin-bottom: 100px;
  }
  .headline-atom--margin-bottom-huge--large {
    margin-bottom: 150px;
  }
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Resets
*/
* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
html {
  background: #f7f7f7;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}
*::-moz-selection {
  background: #222222;
  color: #ffffff;
}
*::selection {
  background: #222222;
  color: #ffffff;
}
/*
Loading mask

NOTE: This is on every view, not just home. Not the best place for these styles,
but what can ya do
*/
@-webkit-keyframes maskfade {
  0%   { opacity: 1; z-index: 100; }
  99%  { opacity: 0; }
  100% { opacity: 0; z-index: 0; }
}
@keyframes maskfade {
  0%   { opacity: 1; z-index: 100; }
  99%  { opacity: 0; }
  100% { opacity: 0; z-index: 0; }
}
.page-mask {
  background: #f7f7f7;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-mask--loaded {
  -webkit-animation: maskfade 250ms;
  animation: maskfade 250ms;
  opacity: 0;
  z-index: -1;
  overflow: auto;
}
.home-view__callouts .grid-container-atom__width-enforcer {
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 550px) {
  .home-view__callouts .grid-container-atom__width-enforcer {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Variables
*/
/*
Form Copy
*/
.application-view__form-copy {
  margin-bottom: 30px;
}
.application-view__form-copy-body-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.application-view__body-copy-container {
  display: -ms-flexbox;
  display: flex;
}
.application-view__body-copy-container::before {
  width: 2px;
  display: block;
  margin-right: 30px;
  content: "";
  background: linear-gradient(#fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
/*
Form Section
*/
.button-atom.application-view__button {
  margin-top: 50px;
}
/*
FAQ
*/
.application-view__faq-section {
  padding: 30px;
  border: 2px solid #222222;
  background: #ffffff;
}
.application-view__faq-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.application-view__faq-list-item {
  margin-top: 30px;
}
.application-view__faq-list-item:first-child {
  margin-top: 0;
}
/*
Cards
*/
.application-view__scholarship-cards .card-molecule {
  margin-top: 30px;
}
.application-view__scholarship-cards .card-molecule:first-child {
  margin-top: 0;
}
/*
Form
*/
.application-view__form--loading {
  opacity: 1;
  transition: opacity 150ms;
}
.application-view__form--loading {
  opacity: .5;
  transition: opacity 150ms;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.grid-container-atom.response-view__body {
  padding-top: 50px;
}
.response-view__body .grid-container-atom__width-enforcer {
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .response-view__body .grid-container-atom__width-enforcer {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
/*
Response Section
*/
.response-view__response-section {
  width: calc(12 / 12 * 100%);
}
@media (min-width: 768px) {
  .response-view__response-section {
    width: calc(5 / 12 * 100%);
  }
}
/*
FAQ
*/
.response-view__details-section {
  width: calc(12 / 12 * 100%);
  padding: 30px;
  border: 2px solid #222222;
  background: #ffffff;
  margin-top: 100px;
}
@media (min-width: 768px) {
  .response-view__details-section {
    width: calc(5 / 12 * 100%);
    margin-top: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.application-landing-view__scholarship-cards .card-molecule {
  margin-top: 30px;
}
.application-landing-view__scholarship-cards .card-molecule:first-child {
  margin-top: 0;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.grid-container-atom.basic-single-column-view__body {
  padding-top: 50px;
}
/*.basic-single-column-view__body .grid-container-atom__width-enforcer {
  flex-direction: column;
}
@media (--min-small) {
  .basic-single-column-view__body .grid-container-atom__width-enforcer {
    flex-direction: row;
    justify-content: space-between;
  }
}
*/
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.grid-container-atom.legal-view__body {
  padding-top: 50px;
}
.basic-single-column-view__body .grid-container-atom__width-enforcer {
  -ms-flex-direction: column;
  flex-direction: column;
}
/*
Section
*/
.legal-view__section--top-margin {
  margin-top: 30px;
}
/*
List
*/
.legal-view__list {
  margin-top: 10px;
}
.legal-view__list-item {
  font-family: 'Fira Mono', monospace;
  line-height: 1.75;
  font-weight: 400;
  font-size: 12px;
}
/*
Address
*/
.legal-view__address {
  margin-top: 10px;
  font-family: 'Fira Mono', monospace;
  line-height: 1.75;
  font-weight: 400;
  font-size: 12px;
}
.legal-view__address-item {
  display: block;
}
/*
Footer
*/
.legal-view__footer {
  margin-top: 50px;
}
/*
Strong styles
*/
.legal-view strong {
  background: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);
}
/*
Link styles
*/
.legal-view a {
  color: #222222;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.call-for-participation-view__cards .card-molecule {
  margin-top: 30px;
}
.call-for-participation-view__scholarship-cards .card-molecule:first-child {
  margin-top: 0;
}
.call-for-participation-view__ordered-list {
  font-family: 'Fira Mono', monospace;
  line-height: 1.75;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  padding-left: 26px;
  margin: 0;
}
.call-for-participation-view__ordered-list-item {

}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.unset-overflow {
  overflow-x: unset;
}
.grid-container-atom.local-view__body {
  padding-top: 50px;
}
.local-view__body .grid-container-atom__width-enforcer {
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .local-view__body .grid-container-atom__width-enforcer {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
/*
Response Section
*/
/*
FAQ
*/
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.app-view__agenda-grid-container {
  padding-bottom: 100px;
}
.app-view__agenda-grid-container .grid-container-atom__width-enforcer {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .app-view__agenda-grid-container .grid-container-atom__width-enforcer {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
/*
Layout
*/
.app-view__agenda-info {
  margin-bottom: 50px;
  width: 100%;
}
.app-view__agenda-info--mobile {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .app-view__agenda-info {
    width: calc(5 / 12 * 100%);
    margin-bottom: 0;
  }
}
.app-view__agenda-callout {
  width: 100%;
  background: #ffffff;
  border: 2px solid #222222;
  padding: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .app-view__agenda-callout {
    width: calc(5 / 12 * 100%);
    margin-bottom: 0;
  }
}
/*
Button
*/
.app-view__button.button-atom {
  margin-top: 30px;
}
/*
Callout
*/
.app-view__qr-code {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  border-bottom: 2px solid #222222;
  padding-bottom: 20px;
}
.app-view__image-cta {
  display: inline-block;
  max-width: 150px;
  margin-top: 30px;
  opacity: 1;
  transition: opacity 100ms;
}
.app-view__image-cta:hover {
  opacity: .75;
  transition: opacity 100ms;
}
.app-view__image-cta-image {
  width: 100%;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.faq-view__intro-container .grid-container-atom__width-enforcer {
  -ms-flex-direction: column;
  flex-direction: column;
}
/*
Layout
*/
.faq-view__intro {
  margin-bottom: 30px;
  width: 100%;
}
@media (min-width: 768px) {
  .faq-view__intro {
    margin-bottom: 50px;
    width: calc(5 / 12 * 100%);
  }
}
/*
Arrow
*/
.faq-view__arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid #222222;
  border-top: 2px solid #222222;
  border-radius: 1px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  transition: margin 250ms, -webkit-transform 250ms;
  transition: transform 250ms, margin 250ms;
  transition: transform 250ms, margin 250ms, -webkit-transform 250ms;
  margin: 6px 0 0 20px;
}
.faq-view__arrow--active {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  margin-top: 9px;
  transition: margin 250ms, -webkit-transform 250ms;
  transition: transform 250ms, margin 250ms;
  transition: transform 250ms, margin 250ms, -webkit-transform 250ms;
}
/*
FAQ List
*/
.faq-view__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .app-view__list {
    width: calc(5 / 12 * 100%);
  }
}
.faq-view__list-item {
  margin-top: 20px;
  background: #ffffff;
}
.faq-view__list-item:first-child {
  margin-top: 0;
}
.faq-view__question-container {
  padding: 10px;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
}
.faq-view__question {
  max-width: 800px;
  width: 100%;
}
@media (min-width: 768px) {
  .faq-view__question {
    width: 75%;
  }
}
.faq-view__answer-container {
  height: auto;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  transition: max-height 250ms;
}
@media (min-width: 768px) {
  .faq-view__answer-container {
    width: 75%;
  }
}
.faq-view__answer-container--collapsed {
  max-height: 0 !important;
  transition: max-height 250ms;
}
.faq-view__answer {
  padding: 0 10px 10px;
}
.faq-view__answer-link {
  color: #222222;
  border-bottom: 2px solid #222222;
  text-decoration: none;
}
.faq-view__answer-link:hover {
  border-color: transparent;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.copy-atom {
  font-family: 'Fira Mono', monospace;
  line-height: 1.75;
  font-weight: 400;
  margin: 0;
  text-rendering: optimizeLegibility;
}
/*
Size
*/
.copy-atom--small {
  font-size: 12px;
}
.copy-atom--standard {
  font-size: 14px;
}
.copy-atom--bold {
  font-weight: 600;
}
/*
Color
*/
.copy-atom--charcoal {
  color: #222222;
}
.copy-atom--cloud {
  color: #f7f7f7;
}
.copy-atom--gray {
  color: #e8e8e8;
}
.copy-atom--coral {
  color: #fca09a;
}
.copy-atom--sunburn {
  color: #fcccd3;
}
.copy-atom--creamsicle {
  color: #ffcc9d;
}
.copy-atom--mint {
  color: #98ddad;
}
.copy-atom--sky {
  color: #81d7ec;
}
.copy-atom--elizabeth {
  color: #a0aaed;
}
.copy-atom--snow {
  color: #ffffff;
}
.copy-atom--prism {
  color: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);
}
/*
Top Margin
*/
/* Base */
.copy-atom--margin-top-micro {
  margin-top: 10px;
}
.copy-atom--margin-top-small {
  margin-top: 20px;
}
.copy-atom--margin-top-medium {
  margin-top: 30px;
}
.copy-atom--margin-top-large {
  margin-top: 50px;
}
.copy-atom--margin-top-jumbo {
  margin-top: 100px;
}
.copy-atom--margin-top-huge {
  margin-top: 150px;
}
/* Medium */
@media (min-width: 768px) {
  .copy-atom--margin-top-micro--medium {
    margin-top: 10px;
  }
  .copy-atom--margin-top-small--medium {
    margin-top: 20px;
  }
  .copy-atom--margin-top-medium--medium {
    margin-top: 30px;
  }
  .copy-atom--margin-top-large--medium {
    margin-top: 50px;
  }
  .copy-atom--margin-top-jumbo--medium {
    margin-top: 100px;
  }
  .copy-atom--margin-top-huge--medium {
    margin-top: 150px;
  }
}
/* Large */
@media (min-width: 1024px) {
  .copy-atom--margin-top-micro--large {
    margin-top: 10px;
  }
  .copy-atom--margin-top-small--large {
    margin-top: 20px;
  }
  .copy-atom--margin-top-medium--large {
    margin-top: 30px;
  }
  .copy-atom--margin-top-large--large {
    margin-top: 50px;
  }
  .copy-atom--margin-top-jumbo--large {
    margin-top: 100px;
  }
  .copy-atom--margin-top-huge--large {
    margin-top: 150px;
  }
}
/*
Bottom Margin
*/
/* Base */
.copy-atom--margin-bottom-micro {
  margin-bottom: 10px;
}
.copy-atom--margin-bottom-small {
  margin-bottom: 20px;
}
.copy-atom--margin-bottom-medium {
  margin-bottom: 30px;
}
.copy-atom--margin-bottom-large {
  margin-bottom: 50px;
}
.copy-atom--margin-bottom-jumbo {
  margin-bottom: 100px;
}
.copy-atom--margin-bottom-huge {
  margin-bottom: 150px;
}
/* Medium */
@media (min-width: 768px) {
  .copy-atom--margin-bottom-micro--medium {
    margin-bottom: 10px;
  }
  .copy-atom--margin-bottom-small--medium {
    margin-bottom: 20px;
  }
  .copy-atom--margin-bottom-medium--medium {
    margin-bottom: 30px;
  }
  .copy-atom--margin-bottom-large--medium {
    margin-bottom: 50px;
  }
  .copy-atom--margin-bottom-jumbo--medium {
    margin-bottom: 100px;
  }
  .copy-atom--margin-bottom-huge--medium {
    margin-bottom: 150px;
  }
}
/* Large */
@media (min-width: 1024px) {
  .copy-atom--margin-bottom-micro--large {
    margin-bottom: 10px;
  }
  .copy-atom--margin-bottom-small--large {
    margin-bottom: 20px;
  }
  .copy-atom--margin-bottom-medium--large {
    margin-bottom: 30px;
  }
  .copy-atom--margin-bottom-large--large {
    margin-bottom: 50px;
  }
  .copy-atom--margin-bottom-jumbo--large {
    margin-bottom: 100px;
  }
  .copy-atom--margin-bottom-huge--large {
    margin-bottom: 150px;
  }
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/* Links */
@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.link-atom {
  font-family: 'Fira Mono', monospace;
  color: #222222;
  text-decoration: none;
  line-height: 1.75;
  font-weight: 400;
  display: inline-block;
  padding-bottom: 1px;
}
/*
Sizes
*/
.link-atom--standard {
  font-size: 14px;
}
.link-atom--small {
  font-size: 12px;
}
/*
Size
*/
.link-atom--small {
  font-size: 12px;
}
.link-atom--standard {
  font-size: 14px;
}
/*
Underline style
*/
/* Prism */
.link-atom--underline-prism::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);
  transition: opacity 100ms;
}
.link-atom--underline-prism:hover.link-atom--underline-prism::after,
.link-atom--underline-prism:focus.link-atom--underline-prism::after,
.link-atom--underline-prism:active.link-atom--underline-prism::after {
  transition: opacity 100ms;
  opacity: 0;
}
/* Charcoal */
.link-atom--underline-charcoal::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #222222;
  transition: opacity 100ms;
}
.link-atom--underline-charcoal:hover.link-atom::after,
.link-atom--underline-charcoal:focus.link-atom::after,
.link-atom--underline-charcoal:active.link-atom::after {
  opacity: 0;
  transition: opacity 100ms;
}
/*
Color
*/
.link-atom--charcoal {
  color: #222222;
}
.link-atom--cloud {
  color: #f7f7f7;
}
.link-atom--gray {
  color: #e8e8e8;
}
.link-atom--coral {
  color: #fca09a;
}
.link-atom--sunburn {
  color: #fcccd3;
}
.link-atom--creamsicle {
  color: #ffcc9d;
}
.link-atom--mint {
  color: #98ddad;
}
.link-atom--sky {
  color: #81d7ec;
}
.link-atom--elizabeth {
  color: #a0aaed;
}
.link-atom--snow {
  color: #ffffff;
}
.link-atom--prism {
  color: #ffffff;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.grid-container-atom {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.grid-container-atom__width-enforcer {
  max-width: 1440px;
  width: 85%;
  display: -ms-flexbox;
  display: flex;
}
/*
Padding
*/
.grid-container-atom--with-padding {
  padding: 100px 0;
}
/*
Colors
*/
.grid-container-atom--charcoal {
  background: #000000;
}
.grid-container-atom--cloud {
  background: #f7f7f7;
}
.grid-container-atom--gray {
  background: #e8e8e8;
}
.grid-container-atom--coral {
  background: #fca09a;
}
.grid-container-atom--sunburn {
  background: #fcccd3;
}
.grid-container-atom--creamsicle {
  background: #ffcc9d;
}
.grid-container-atom--mint {
  background: #98ddad;
}
.grid-container-atom--sky {
  background: #81d7ec;
}
.grid-container-atom--elizabeth {
  background: #a0aaed;
}
.grid-container-atom--snow {
  background: #ffffff;
}
.grid-container-atom--prism {
  /*background: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);*/
  background: #ffffff;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
.highlight-bar-molecule {
  width: 100%;
  background: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);
  padding: 10px 0;
}
.highlight-bar-molecule .grid-container-atom__width-enforcer {
  -ms-flex-pack: center;
  justify-content: center;
}
.highlight-bar-molecule__copy {
  text-align: center;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
.footer-molecule {
  padding: 30px 0;
}
.footer-molecule .grid-container-atom__width-enforcer {
  -ms-flex-direction: column;
  flex-direction: column;
}
/*
Top section
*/
.footer-molecule__top-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/*
Link list contianer
*/
.footer-molecule__link-list-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 400px) {
  .footer-molecule__link-list-container {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: auto;
  }
}
/*
Sections
*/
.footer-molecule__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer-molecule__link {
  margin-top: 10px;
}
.footer-molecule__link--first {
  margin-top: 0;
}
@media (min-width: 400px) {
  .footer-molecule__section--legal {
    margin-left: 50px;
  }
}
/*
Glyph
*/
.footer-molecule__glyph {
  display: none;
}
@media (min-width: 450px) {
  .footer-molecule__glyph {
    display: block;
  }
}
.footer-molecule__copy {
  text-align: center;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.sticker-atom {
  position: absolute;
  z-index: 1;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Splash styles
*/
.hero-organism {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  padding: 100px 0;
  position: relative;
  cursor: pointer;
}
@media (min-width: 768px) {
  .hero-organism {
    padding: 150px 0;
  }
}
/*
Container layout
*/
.hero-organism__mega-container {
  position: relative;
}
.hero-organism__container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1440px;
  max-height: 1440px;
  padding: 30px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero-organism__container {
    padding: 0;
  }
}
/*
Event details
*/
.hero-organism__event-details {
  text-align: center;
}
.hero-organism__event-detail {
  margin-top: 10px;
}
.hero-organism__event-detail:first-child {
  margin-bottom: 0;
}
/*
Logo
*/
.hero-organism__logo-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}
.hero-organism__gradient-logo {
  width: 120px;
  margin-bottom: 30px;
}
@media (min-width: 400px) {
  .hero-organism__gradient-logo {
    width: 180px;
  }
}
@media (min-width: 768px) {
  .hero-organism__gradient-logo {
    width: 300px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .hero-organism__gradient-logo {
    width: 400px;
  }
}
/*
Badge
*/
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg) scale(.8);
    transform: rotate(0deg) scale(.8);
  }
  to {
    -webkit-transform: rotate(360deg) scale(.8);
    transform: rotate(360deg) scale(.8);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg) scale(.8);
    transform: rotate(0deg) scale(.8);
  }
  to {
    -webkit-transform: rotate(360deg) scale(.8);
    transform: rotate(360deg) scale(.8);
  }
}
@media (min-width: 768px) {
  @-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg) scale(1);
      transform: rotate(0deg) scale(1);
    }
    to {
      -webkit-transform: rotate(360deg) scale(1);
      transform: rotate(360deg) scale(1);
    }
  }
  @keyframes rotating {
    from {
      -webkit-transform: rotate(0deg) scale(1);
      transform: rotate(0deg) scale(1);
    }
    to {
      -webkit-transform: rotate(360deg) scale(1);
      transform: rotate(360deg) scale(1);
    }
  }
}
.hero-organism__badge {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #222222;
  background-color: #ffffff;
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 10;
  top: 10px;
  -webkit-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
  will-change: transform;
  /* transform: scale(.8); */
}
@media (min-width: 768px) {
  .hero-organism__badge {
    /* transform: scale(1); */
  }
}
.hero-organism__badge-container {
  position: absolute;
  max-width: 1440px;
  top: 0; left: 0; right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 auto;
  width: 85%;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.logo-atom {
  position: relative;
  height: auto;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.button-atom {
  font-family: 'Fira Mono', monospace;
  line-height: 1.75;
  font-weight: 400;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  color: #222222;
}
/*
Types
*/
.button-atom--primary {
  background: #ffffff;
  border: 2px solid #000000;
}
.button-atom--secondary {
  background: #ffffff;
  border: 2px solid #888888;
  transition: 100ms border-color;
}
.button-atom--secondary:hover,
.button-atom--secondary:focus,
.button-atom--secondary:active {
  border: 2px solid #222222;
  transition: 100ms border-color;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.grid-container-atom.basic-view__body {
  padding-top: 50px;
}
.basic-view__body .grid-container-atom__width-enforcer {
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .basic-view__body .grid-container-atom__width-enforcer {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
/*
Section Base
*/
.basic-view__section {
  width: calc(12 / 12 * 100%);
}
@media (min-width: 768px) {
  .basic-view__section {
    width: calc(5 / 12 * 100%);
  }
}
/*
Right section
*/
.basic-view__section--right {
  margin-top: 100px;
}
@media (min-width: 768px) {
  .basic-view__section--right {
    margin-top: 0;
  }
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
.ticket-callout-organism {
  margin-bottom: 100px;
}
.ticket-callout-organism .grid-container-atom__width-enforcer {
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .ticket-callout-organism .grid-container-atom__width-enforcer {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }
}
/*
Copy
*/
.ticket-callout-organism__copy-container {
  width: calc(12 / 12 * 100%);
}
@media (min-width: 768px) {
  .ticket-callout-organism__copy-container {
    width: calc(5 / 12 * 100%);
  }
}
.ticket-callout-organism__subheadline-container {
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
/*
List
*/
.ticket-callout-organism__list {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 50px 0 0;
  padding: 0;
}
@media (min-width: 768px) {
  .ticket-callout-organism__list {
    margin-top: 0;
    text-align: right;
    list-style: none;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.ticket-callout-organism__list-item {
  margin-top: 10px;
}
.ticket-callout-organism__list-item:first-child {
  margin-top: 0;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
.home-about-organism {
  margin-bottom: 100px;
}
.home-about-organism .grid-container-atom__width-enforcer {
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .home-about-organism .grid-container-atom__width-enforcer {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
/*
Copy
*/
.home-about-organism__headline-container,
.home-about-organism__body-copy-container {
  width: calc(12 / 12 * 100%);
}
@media (min-width: 768px) {
  .home-about-organism__headline-container,
  .home-about-organism__body-copy-container {
    width: calc(5 / 12 * 100%);
  }
}
/*
Headline styles
*/
.home-about-organism__headline {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .home-about-organism__headline {
    margin-bottom: 0;
  }
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
.email-form-molecule {
  width: 100%;
  opacity: 1;
  transition: opacity 150ms;
}
.email-form-molecule--submitting {
  opacity: .5;
  transition: opacity 150ms;
}
.email-form-molecule__input {
  margin-bottom: 30px;
}
.email-form-molecule .input-molecule__input {
  max-width: 300px;
}
@media (min-width: 768px) {
  .email-form-molecule .input-molecule__input {
    max-width: unset;
  }
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
.input-molecule {
  margin-top: 30px;
}
.input-molecule:first-child {
  margin-top: 0;
}
.input-molecule__label {
  display: block;
  font-family: 'Fira Mono', monospace;
  font-size: 14px;
  line-height: 1.75;
  font-weight: 600;
  margin-bottom: 10px;
}
.input-molecule__input {
  -webkit-appearance: none;
  margin-top: 10px;
  border: 2px solid #222222;
  font-family: 'Fira Mono', monospace;
  font-size: 14px;
  line-height: 1.75;
  font-weight: 400;
  background: #ffffff;
  padding: 10px;
  width: 100%;
  border-radius: 0;
  resize: none;
}
.input-molecule__input--error {
  border-color: #fca09a;
}
.input-molecule__required-marker--error {
  color: #fca09a;
}
.input-molecule__input--file {
  line-height: 0;
}
.input-molecule__input--textarea {
  min-height: 125px;
}
.input-molecule__input--radio {
  background: none;
  border: 0;
  padding: 0;
}
.input-molecule__radio-button {
  margin-left: 20px;
}
.input-molecule__radio-button:first-child {
  margin-left: 0;
}
.input-molecule__radio-label {
  display: inline-block;
  font-family: 'Fira Mono', monospace;
  font-size: 14px;
  line-height: 1.75;
  font-weight: 400;
  margin-left: 10px;
}
/* Child inputs */
.input-molecule__child-fieldset {
  border: 0;
  padding: 0 0 0 30px;
}
.input-molecule__child-input-group {
  margin-top: 30px;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.home-email-callout-organism.grid-container-atom {
  /* One-off nit to remove extra top padding */
  padding-top: 0;
}
.home-email-callout-organism .grid-container-atom__width-enforcer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .home-email-callout-organism .grid-container-atom__width-enforcer {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }
}
/*
Copy container
*/
.home-email-callout-organism__copy {
  width: calc(12 / 12 * 100%);
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .home-email-callout-organism__copy {
    width: calc(5 / 12 * 100%);
    margin-bottom: 0;
  }
}
/*
Email container
*/
.home-email-callout-organism__email {
  width: calc(12 / 12 * 100%);
}
@media (min-width: 768px) {
  .home-email-callout-organism__email {
    width: calc(5 / 12 * 100%);
  }
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.sponsors-list-organism .grid-container-atom__width-enforcer {
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .sponsors-list-organism .grid-container-atom__width-enforcer {
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
  }
}
/*
Intro
*/
.sponsors-list-organism__intro {
  border: 2px solid #222222;
  background-color: #ffffff;
  padding: 30px;
  width: calc(12 / 12 * 100%);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .sponsors-list-organism__intro {
    width: calc(7 / 12 * 100%);
  }
}
@media (min-width: 1024px) {
  .sponsors-list-organism__intro {
    width: calc(5 / 12 * 100%);
  }
}
/*
List
*/
.sponsors-list-organism__master-list {
  padding: 100px 0;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Floating nav
*/
.floating-nav-organism.grid-container-atom {
  background: #ffffff;
  padding: 20px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: none;
  border-top: 2px solid #222222;
}
@media (min-width: 550px) {
  .floating-nav-organism.grid-container-atom {
    display: -ms-flexbox;
    display: flex;
  }
}
.floating-nav-organism .grid-container-atom__width-enforcer {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.floating-nav-organism__list-item {
  display: inline-block;
  margin-left: 30px;
}
.floating-nav-organism__list-item:first-child {
  margin-left: 0;
}
.floating-nav-organism__list {
  list-style: none;
  margin: 0 30px 0 0;
  padding: 0;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
.sponsor-bucket-molecule {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}
.sponsor-bucket-molecule .grid-container-atom__width-enforcer {
  -ms-flex-pack: center;
  justify-content: center;
}
.sponsor-bucket-molecule__copy {
  text-align: center;
}
/*
Sidebar
*/
.sponsor-bucket-molecule__sidebar {
  width: calc(2 / 12 * 100%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.sponsor-bucket-molecule__sidebar::after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #222222;
  position: absolute;
}
.sponsor-bucket-molecule__sidebar-headline-box {
  display: inline-block;
  padding: 5px 10px;
  background: #222222;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  z-index: 1;
}
.sponsor-bucket-molecule__sidebar-headline-box--metropolis {
  background: #fca09a;
}
.sponsor-bucket-molecule__sidebar-headline-box--homestead {
  background: #fcccd3;
}
.sponsor-bucket-molecule__sidebar-headline-box--frontier {
  background: #98ddad;
}
.sponsor-bucket-molecule__sidebar-headline-box--scholarship {
  background: #81d7ec;
}
.sponsor-bucket-molecule__sidebar-headline-box--olympic {
  background: #a0aaed;
}
.sponsor-bucket-molecule__sidebar-headline {
  text-transform: capitalize;
}
/*
List
*/
.sponsor-bucket-molecule__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* align-items: center; */
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
  width: calc(10 / 12 * 100%);
}
@media (min-width: 768px) {
  .sponsor-bucket-molecule__list {
    width: calc(8 / 12 * 100%);
  }
}
.sponsor-bucket-molecule__list-item {
  display: -ms-flexbox;
  display: flex;
  display: -ms-inline-flexbox;
  display: inline-flex;

  margin-top: 50px;
}
/*
Tier-based layout
*/
/* Serenity */
.sponsor-bucket-molecule__list-item--serenity {
  width: calc(4 / 12 * 100%);
}
/* Metropolis */
.sponsor-bucket-molecule__list-item--metropolis {
  width: calc(4 / 12 * 100%);
}
/* Homestead */
.sponsor-bucket-molecule__list-item--homestead {
  width: calc(4 / 12 * 100%);
}
@media (min-width: 768px) {
  .sponsor-bucket-molecule__list-item--homestead {
    width: calc(3 / 12 * 100%);
  }
}
/* Frontier */
.sponsor-bucket-molecule__list-item--scholarship,
.sponsor-bucket-molecule__list-item--frontier {
  width: calc(4 / 12 * 100%);
}
@media (min-width: 768px) {
  .sponsor-bucket-molecule__list-item--scholarship,
  .sponsor-bucket-molecule__list-item--frontier {
    width: calc(3 / 12 * 100%);
  }
}
/* Olympic */
.sponsor-bucket-molecule__list-item--olympic {
  width: calc(4 / 12 * 100%);
}
@media (min-width: 768px) {
  .sponsor-bucket-molecule__list-item--olympic {
    width: calc(2 / 12 * 100%);
  }
}
/*
Thumbnail
*/
.sponsor-bucket-molecule__sponsor-thumbnail {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%; /* Ensures space between logos in tighter layouts */
}
.sponsor-bucket-molecule__sponsor-thumbnail-image {
  width: 100%;
}
/*
Link
*/
.sponsor-bucket-molecule__sponsor-link {
  position: relative;
  top: 0;
  will-change: top;
  display: -ms-flexbox;
  display: flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}
.sponsor-bucket-molecule__sponsor-link:hover {
  top: -5px;
}
.sponsor-bucket-molecule__sponsor-link,
.sponsor-bucket-molecule__sponsor-link:hover {
  transition: top 250ms;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base
*/
.card-molecule {
  border: 2px solid #222222;
}
/*
Headline
*/
.card-molecule__headline-bar {
  padding: 20px 30px;
  background: #222222;
}
/*
Content box
*/
.card-molecule__content-box {
  padding: 30px;
  background: #ffffff;
}
/*
Colors
*/
/* Border */
.card-molecule--cloud {
  border-color: #f7f7f7;
}
.card-molecule--gray {
  border-color: #e8e8e8;
}
.card-molecule--coral {
  border-color: #fca09a;
}
.card-molecule--sunburn {
  border-color: #fcccd3;
}
.card-molecule--creamsicle {
  border-color: #ffcc9d;
}
.card-molecule--mint {
  border-color: #98ddad;
}
.card-molecule--sky {
  border-color: #81d7ec;
}
.card-molecule--elizabeth {
  border-color: #a0aaed;
}
.card-molecule--snow {
  border-color: #ffffff;
}
.card-molecule--prism {
  border-color: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);
}
/* Headline bar */
.card-molecule__headline-bar--cloud {
  background: #f7f7f7;
}
.card-molecule__headline-bar--gray {
  background: #e8e8e8;
}
.card-molecule__headline-bar--coral {
  background: #fca09a;
}
.card-molecule__headline-bar--sunburn {
  background: #fcccd3;
}
.card-molecule__headline-bar--creamsicle {
  background: #ffcc9d;
}
.card-molecule__headline-bar--mint {
  background: #98ddad;
}
.card-molecule__headline-bar--sky {
  background: #81d7ec;
}
.card-molecule__headline-bar--elizabeth {
  background: #a0aaed;
}
.card-molecule__headline-bar--snow {
  background: #ffffff;
}
.card-molecule__headline-bar--prism {
  background: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);
}
/*
Simple Card Modifications
*/
.card-molecule--simple .card-molecule__content-box {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
.header-molecule {
  padding: 20px 0;
  background: #ffffff;
  position: relative;
}
.header-molecule .grid-container-atom__width-enforcer {
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.header-molecule__logo {
  width: 100px;
}
.header-molecule__logo-link {
  text-decoration: none;
}
.header-molecule__copy {
  text-align: right;
}
/*
Shadow
*/
.header-molecule::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  height: 110%;
  width: 110%;

  /* Declaring our shadow color inherit from the parent (button) */
  background: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
.home-faq-organism--no-top-margin.grid-container-atom {
  padding-top: 0;
}
.home-faq-organism .grid-container-atom__width-enforcer {
  -ms-flex-direction: column;
  flex-direction: column;
}
.home-faq-organism__box {
  background: #ffffff;
  border: 2px solid #222222;
  padding: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
/*
Column list
*/
.home-faq-organism__column-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .home-faq-organism__column-list {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.home-faq-organism__column-list-item {
  width: calc(12 / 12 * 100%);
  margin-top: 30px;
}
.home-faq-organism__column-list-item:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .home-faq-organism__column-list-item {
    width: calc(6 / 12 * 100%);
    margin-top: 0;
  }

  .home-faq-organism__column-list-item:first-child {
    padding-right: 30px;
  }
  .home-faq-organism__column-list-item:nth-child(2) {
    padding-left: 30px;
  }
}
/*
Question list
*/
.home-faq-organism__question-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.home-faq-organism__question-list-item {
  margin-top: 30px;
}
.home-faq-organism__question-list-item:first-child {
  margin-top: 0;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
.intro-nav-molecule {
  background-color: #ffffff;
  padding: 20px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
/*
List
*/
.intro-nav-molecule__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.intro-nav-molecule__list-item {
  display: inline-block;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .intro-nav-molecule__list-item {
    margin-left: 30px;
  }
}
.intro-nav-molecule__list-item:first-child {
  margin-left: 0;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
.intro-copy-container-molecule__text-link {
  color: #f7f7f7;
  text-decoration: none;
  padding-bottom: 1px;
  display: inline-block;
}
.intro-copy-container-molecule__text-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #f7f7f7;
  transition: opacity 100ms;
}
.intro-copy-container-molecule__text-link:hover.intro-copy-container-molecule__text-link::after,
.intro-copy-container-molecule__text-link:focus.intro-copy-container-molecule__text-link::after,
.intro-copy-container-molecule__text-link:active.intro-copy-container-molecule__text-link::after {
  opacity: 0;
  transition: opacity 100ms;
}
.intro-copy-container-molecule__table {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}
.intro-copy-container-molecule__table-row {
}
.intro-copy-container-molecule__table-head {
}
.intro-copy-container-molecule__table-head,
.intro-copy-container-molecule__table-data {
  padding: 10px 20px;
  border: 1px solid #f7f7f7;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/* .mapbox-molecule {
  width: var(--percentage-12-12);
  margin-top: var(--spacing-large);
}
.mapbox-molecule:first-child {
  margin-top: 0;
}
@media (--min-kinda-small) {
  .mapbox-molecule {
    width: var(--percentage-5-12);
    margin-top: 0;
  }
} */
.mapbox-molecule,
.mapboxgl-map {
  width: 100%;
  height: 100%;
}
.mapbox-molecule__marker {
  width: 24px;
  height: 30px;
  background: url('https://i.imgur.com/MK4NUzI.png');
  background-size: contain;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Splash styles
*/
.local-hero-organism {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .local-hero-organism {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }
}
/*
Copy Container layout
*/
.local-hero-organism__copy-container {
  margin-bottom: 50px;
  width: 100%;
}
@media (min-width: 768px) {
  .local-hero-organism__copy-container {
    width: calc(5 / 12 * 100%);
    margin-bottom: 0;
  }
}
/*
Map Container layout
*/
.local-hero-organism__map-container {
  width: 100%;
}
@media (min-width: 768px) {
  .local-hero-organism__map-container {
    width: calc(5 / 12 * 100%);
  }
}
/*
Map placeholder until Google API is signed off
*/
.local-hero-organism__map-container {
  background: white;
  height: 300px;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Splash styles
*/
.local-lodging-organism {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .local-lodging-organism {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.local-lodging-organism__copy-container {
  margin-bottom: 30px;
}
.local-lodging-organism__intro,
.local-lodging-organism__sidebar {
  width: 100%;
}
@media (min-width: 768px) {
  .local-lodging-organism__intro,
  .local-lodging-organism__sidebar {
    width: calc(5 / 12 * 100%);
  }
}
/*
Sidebar
*/
.local-lodging-organism__sidebar {
  background: #ffffff;
  padding: 30px;
  border: 2px solid #222222;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .local-lodging-organism__sidebar {
    margin-top: 0;
  }
}
.local-lodging-organism__neighborhood-list,
.local-lodging-organism__hotel-list {
  padding: 0;
  margin: 0;
  font-family: 'Fira Mono', monospace;
  color: #222222;
  font-size: 12px;
}
.local-lodging-organism__neighborhood-list {
  padding-left: 22px;
}
.local-lodging-organism__hotel-list {
  list-style: none;
}
.local-lodging-organism__hotel-list-item {
  margin-top: 30px;
}
.local-lodging-organism__hotel-list-item:first-child {
  margin-top: 0;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Base styles
*/
.local-transit-organism .grid-container-atom__width-enforcer {
  /* display: flex; */
  -ms-flex-direction: column;
  flex-direction: column;
  /* padding: var(--spacing-large) 0; */
}
/*
Hero layout
*/
.local-transit-organism__hero {
  width: 100%;
  /* margin-bottom: var(--spacing-jumbo); */
}
@media (min-width: 768px) {
  .local-transit-organism__hero {
    width: calc(5 / 12 * 100%);
  }
}
/*
Sections
*/
.local-transit-organism__section {
  -ms-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}
@media (min-width: 768px) {
  .local-transit-organism__section {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
/*
Section hero + deep-dives
*/
.local-transit-organism__section-hero,
.local-transit-organism__deep-dives {
  width: 100%;
}
@media (min-width: 768px) {
  .local-transit-organism__section-hero,
  .local-transit-organism__deep-dives {
    width: calc(5 / 12 * 100%);
  }
}
.local-transit-organism__deep-dives {
  padding-top: 50px;
}
@media (min-width: 768px) {
  .local-transit-organism__deep-dives {
    border-top: 2px solid #f7f7f7;
  }
}
.local-transit-organism__deep-dive {
  margin-top: 50px;
}
.local-transit-organism__deep-dive:first-child {
  margin-top: 0;
}
/* Breakpoints */
/* Colors */
/* Type system */
/* Spacing */
/* Grid */
/* Planes */
/* Base styles */
.local-tips-organism {
  padding-top: 0;
}
.local-tips-organism .grid-container-atom__width-enforcer {
  /* display: flex; */
  -ms-flex-direction: column;
  flex-direction: column;
  /* padding: var(--spacing-large) 0; */
}
@media (min-width: 768px) {
  .local-tips-organism .grid-container-atom__width-enforcer {
    /* width: var(--percentage-5-12); */
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
/*
Hero layout
*/
.local-tips-organism__hero {
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .local-tips-organism__hero {
    width: calc(5 / 12 * 100%);
    margin-bottom: 0;
  }
}
/*
Dos and Donts
*/
.local-tips-organism__dos-and-donts {
  width: 100%;
}
@media (min-width: 768px) {
  .local-tips-organism__dos-and-donts {
    width: calc(5 / 12 * 100%);
  }
}
@media (min-width: 768px) {
  .local-tips-organism__dos-and-donts {
    border-top: 2px solid #222222;
    padding-top: 50px;
  }
}
.local-tips-organism__dos-and-donts-list {
  padding: 0 0 0 27px;
  margin: 0;
  font-family: 'Fira Mono', monospace;
  color: #222222;
  font-size: 14px;
}
/*
Video
*/
.local-tips-organism__video {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.local-tips-organism__video-container {
  margin-top: 20px;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  display: block;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Splash styles
*/
.app-hero-organism {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .app-hero-organism {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }
}
/*
Copy Container layout
*/
.app-hero-organism__copy-container {
  margin-bottom: 50px;
  width: 100%;
}
@media (min-width: 768px) {
  .app-hero-organism__copy-container {
    width: calc(5 / 12 * 100%);
    margin-bottom: 0;
  }
}
/*
Logos
*/
.app-hero-organism__images-container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 768px) {
  .app-hero-organism__images-container {
    width: calc(5 / 12 * 100%);
  }
}
.app-hero-organism__eth-diamond {
  width: 175px;
  left: 2px;
}
.app-hero-organism__plus {
  font-size: 30px;
  line-height: 1;
}
.app-hero-organism__guidebook-logo {
  width: 220px;
}
.app-hero-organism__image {
  width: 100%;
}
/*
Breakpoints
*/
/*
Colors
*/
/*
Type system
*/
/*
Spacing
*/
/*
Grid
*/
/*
Planes
*/
/*
Floating nav
*/
.floating-bar-organism.grid-container-atom {
  background: #ffffff;
  padding: 20px 0;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #222222;
}
.floating-bar-organism .grid-container-atom__width-enforcer {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*# sourceMappingURL=main.bundle.css.map*/